

body {
  background-color: #676EFD;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 100px 0px 100px 0px;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  /*
  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
*/
  .one-half.column                { width: 48%;
  }



h4 {
font-size: 40px;
font-family: "Gotham", sans-serif;
color: white;
font-weight: bold;
letter-spacing: 0.8px;
line-height: 40.5px;
margin-bottom: 20px;
margin-top: 0px;
-webkit-margin-after: 30px;
-webkit-margin-before: 0px;
-webkit-margin-end: 0px;
-webkit-margin-start: 0px;
}


p {
  font-size: 17px;
  font-family: "Avenir", sans-serif;
  color: #dbdadd;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 25px;
  margin-bottom: 20px;
  line-height: 25px;
  margin-bottom: 20px;
  -webkit-margin-after: 30px;
  -webkit-margin-before: 0px;
  -webkit-margin-end: 0px;
  -webkit-margin-start: 0px;
}

button {
    background-color: white;
    border-radius: 100px;
    color: #676EFD;
    text-align: center;
    font-size: 15px;
    font-family: "Avenir", sans-serif;
  }









/*.hero-heading {
  font-size: 40px;
  font-family: "Gotham", sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 40.5px;
  margin-bottom: 20px;
  margin-top: 0px;
  -webkit-margin-after: 30px;
  -webkit-margin-before: 0px;
  -webkit-margin-end: 0px;
  -webkit-margin-start: 0px;

}
*/




/*.navbar {
  display: block;
  color: white;
  font-size: 15px;
  font-weight: normal;
  height: 20px; /* removed, was something like 20px*//*
  line-height: 24px; /*
  padding-bottom: 20px; /* removed, was 20px *//*
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  text-size-adjust: 100%; /*Not sure why this isn't working */


/*
.logo {
  font-size: 25px;
  font-family: "Avenir", sans-serif;
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 40.5px;
  margin-bottom: 20px;
  margin-top: 0px;
  -webkit-margin-after: 30px;
  -webkit-margin-before: 0px;
  -webkit-margin-end: 0px;
  -webkit-margin-start: 0px;
} */

/*
.nav-links {
  float: right;
  font-size: 17px;
  font-family: "Avenir", sans-serif;
  color: white; /*-- was #dbdadd-->*//*
  font-weight: normal;
  letter-spacing: 0.3px;
}
*/





/* Old stuff for container:

  display: block;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 700;
  height: 190px;
  line-height: 24px;
  padding-bottom: 220px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  text-size-adjust: 100%;
}
*/




/* Old container stuff
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}
*/
/*
.hero-box {
  margin: 50 50 50 50;
}






/* Nav */
/*
    @media (min-width: 1000px) {
      .section-nav {
        padding: 22rem 0; }
    }
*/ /*This above media query made the gap at the top disappear*/

/*
    @media (min-width: 750px) {
      .section-nav {
        height: 190px; }
    }
*/ /*This one decreased the gap slightly in the middle and moved the text up a bit*/

/*

    @media (min-width: 550px) {
      .section-nav {
        text-align: left; }
    }
*/ /*This didn't do anything I could immediately see*/



/* Hero */
/*
@media (min-width: 1000px) {
  .section-hero {
    padding: 22rem 0; }
}
*/ /*This completely removed the big gap at the top*/


/*
@media (min-width: 750px) {
  .section-hero {
    height: 190px; }
}
*/ /*This didn't do anything I could see*/

/*
@media (min-width: 550px) {
  .section-hero {
    text-align: left; }
}

*/ /*This didn't do anything I could see */


/* Container *//* /*couldn't tell what this did
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}
*/

/* For devices larger than 550px */

/* This changed indentation of blurb a little.
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  */
/* Can't tell what this did
    @media (min-width: 550px) {
    .one-half.column {
        width: 48%; }
    .phones {
      position: relative; }
}

*/










/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
