

body {
  /* background-color: #676EFD; */
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  box-sizing: border-box;
  max-width: 100%;
  animation: colorchange 1.5s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 40s infinite;
}
  @keyframes colorchange
  {
    0%   {background: rgb(103, 110, 253);}
    25%  {background: rgb(82, 112, 178);}
    50%  {background: rgb(50, 75, 130);}
    75%  {background: rgb(86, 161, 169);}
    100% {background: rgb(103, 110, 253);}
  }

  @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
  {
    0%   {background: rgb(103, 110, 253);}
    25%  {background: rgb(82, 112, 178);}
    50%  {background: rgb(50, 75, 130);}
    75%  {background: rgb(86, 161, 169);}
    100% {background: rgb(103, 110, 253);}
  }




/* .nav-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 98%;
  margin: 10px;
  color: white;
} */

.navigation {
 background-color: #676EFD;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
} 


.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }
  .one-half.column {
    width: 48%;
  }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

li {
  float: right;
  padding: 10px;
  color: white;
}

a {
  text-decoration: none;
}



/* .logo {
  color: white;
  /* display: inline-block;
  background-position: center center;
  font-family: "Avenir", sans-serif;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 1px;
  text-decoration: none; */



/* .nav-options {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  -webkit-padding-start: 0;
  margin-left: 20px;
}




/* 
.me-link a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: #dddddd;
    font-size: 13px;
}

.hardware-link a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: #dddddd;
    font-size: 13px;
}

.home-link a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: #dddddd;
    font-size: 13px; */



/* .me-link a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  text-align: right;
} */
/* 
.hardware-link a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  text-align: right;
}

.home-link a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  text-align: right;
} */



.middle-section {
  /* justify-content: space-between;
  margin: 200px 0px; */
  min-height: 100%;
  padding-top: 200px;
}

.row {
  width: 100%;
  /* display: flex; */ /* This made the boxes sit beside each other*/
  flex-direction: row;
  padding-right: 90px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  padding: 22% 0 0 0;
}




h4 {
  font-size: 2.5em;
  font-family: "Gotham", sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 40.5px;
  margin-bottom: 20px;
  margin-top: 10px;
  -webkit-margin-after: 30px;
  -webkit-margin-before: 0px;
  -webkit-margin-end: 0px;
  -webkit-margin-start: 0px;
  }

 


/* .blurb {
  width: 55%;
} */

p {
  width: 60%;
  font-size: 17px;
  font-family: "Avenir", sans-serif;
  color: #dbdadd;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 25px;
  margin-bottom: 20px;
  line-height: 25px;
  margin-bottom: 20px;
  -webkit-margin-after: 30px;
  -webkit-margin-before: 0px;
  -webkit-margin-end: 0px;
  -webkit-margin-start: 0px;
  text-transform: none;
}

/* @media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
} */

/* @media (min-width: 875px) {
  p {
    width: 60%;
  }
}
@media (min-width: 550px) {
  p {
    width: 70%;
  }
}
*/
@media (min-width: 400px) {
  p {
    width: 85%;
    padding: 0;
  }
} 






button {
  color: #676EFD;
  background-color: white;
  font-family: "Avenir", sans-serif;
  letter-spacing: 1px;
  border: none;
  padding: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
}

/* .column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
} */


/* For devices larger than 400px */
/* @media (min-width: 400px) {
  .page-container {
    width: 85%;
    padding: 0; }
} */


/* For devices larger than 550px
@media (min-width: 550px) {
  .page-container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  @media (min-width: 750px) {
    .container {
      height: 190px; }
  } */





  /* .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 55%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%;
  } */







/* Larger than phablet */ /*
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; } /* might screw up other styling *//*
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}
*/



/*
button {
    display: block;
    color: #676EFD;
    background-color: white;
    font-size: 15px;
    font-family: "Avenir", sans-serif;
    text-align: center;
    padding: 5px;
  }
*/

/* .button, button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  color: #676EFD;
  text-align: center;
  font-size: 11px;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0px solid #dbdadd;
  border-radius: 4px;
  box-sizing: border-box;

} */








/* 
/* Larger than mobile */
/* @media (min-width: 400px) {} */

/* Larger than phablet (also point when grid becomes active) */
/* @media (min-width: 550px) {} */

/* Larger than tablet */
/* @media (min-width: 750px) {} */

/* Larger than desktop */
/* @media (min-width: 1000px) {} */

/* Larger than Desktop HD */ 
/* @media (min-width: 1200px) {} */
