body {
    background-image: url ("stars.jpg");
    font-family: Helvetica, Arial, Sans-Serif;
    Padding: 20px;
}

h1 {
  color: white;
  font-size: 30px;
}

p {
  color: white;
  font-size: 15px;
}
